<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/myapp/farmer_registration/">registration</a> </li>
    <li><a href="/myapp/farmer_change_password/">change_password</a></li>
    <li><a href="/myapp/farmer_view_profile/">viewprofile</a></li>
    <li><a href="/myapp/farmer_update_profile/">update_profile</a></li>
    <li><a href="/myapp/farmer_add_product/">add_product</a></li>
    <li><a href="/myapp/farmer_view_product/">view_product</a></li>
    <li><a href="/myapp/farmer_view_notification/">view_notification</a> </li>
    <li><a href="/myapp/farmer_view_payment/">view_payment</a> </li>
    <li><a href="/myapp/farmer_view_order/">view_order</a> </li>
    <li><a href="/myapp/farmer_view_approved_order/">view_approved_order</a> </li>

</ul>
</body>
</html>