<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/myapp/admin_change_passw/">change_password</a></li>
    <li><a href="/myapp/admin_add_category/">add_category</a></li>
    <li><a href="/myapp/admin_view_category/">view_category</a> </li>
    <li><a href="/myapp/admin_viewfarmers_products/">viewfarmers_products</a></li>
{#    <li><a href="/myapp/admin_viewproducts_order/">view_products_order</a></li>#}
    <li><a href="/myapp/admin_purchase_main/">purchase_main</a></li>
     <li><a href="/myapp/admin_addstock/">add stock</a></li>
    <li><a href="/myapp/admin_viewstock/">view stock</a></li>
      <li><a href="/myapp/admin_send_notification/">notification</a></li>
      <li><a href="/myapp/admin_view_user_order/">view user order</a></li>
      <li><a href="/myapp/admin_view_complaints/">view complaints</a></li>
      <li><a href="/myapp/admin_view_payment/">view payment</a></li>
      <li><a href="/myapp/admin_send_reply/">send reply</a></li>
    <li><a href="/myapp/admin_view_feedback/">view feedback</a></li>


</ul>

</body>
</html>