<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="540" border="1">
    <tr>
      <td width="74" height="53">Sl_no</td>
      <td width="74">User name</td>
      <td width="38">Date</td>
      <td width="69">Amount</td>
      <td width="67">Status</td>
      <td width="86">&nbsp;</td>

    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td height="57">&nbsp;{{ i.User.name }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.amount }}</td>
      <td>&nbsp;{{ i.status }}</td>
      <td><a href="/myapp/admin_order_sub/{{ i.id }}">More</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
