<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/myapp/user_registration/">user_registration</a> </li>
    <li><a href="/myapp/user_change_passw/">user_change_passw</a> </li>
    <li><a href="/myapp/user_view_profile/">view_profile</a></li>
    <li><a href="/myapp/user_view_product/">view_product</a> </li>
    <li><a href="/myapp/user_view_cart/">view_cart</a> </li>
    <li><a href="/myapp/user_send_complaints/">send_complaints</a> </li>
    <li><a href="/myapp/user_view_reply"/>view reply</li>
    <li><a href="/myapp/user_send_feedback"/>send_feedback </li>
</ul>
</body>
</html>